
<div class="container-banner">
  <div class="card-category-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1487376876108-a22f79e567ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
    <div class="bottom"><h1>Cocktails</h1></div>
  </div>
</div>

<div class="container-cocktails">
  <div class="row">
      <% @cocktails.each do |cocktail| %>
        <% unless cocktail.photo.file.nil? %>
          <div class="col-4">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 300, crop: :fill %>')">
              <h2 class="name-cocktail-card"><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
<div style="text-align:center;">
  <%= link_to 'Create New', new_cocktail_path, class: "btn btn-primary"%>
</div>
