.btn-primary {
  color: white;
  text-shadow: 0 0 10px #ef6832;
  background: #090A13;
  border-color: #090A13;
  text-align: center;
  margin: 20px;
  opacity: .8;
  font-family: 'Pacifico', cursive;
}

.form-control {
  width: 400px;
  height: 50px;
}

.input-field {
  color: white;
  margin: 50px;
  opacity: .7;
  font-family: 'Pacifico', cursive;
}
